doctype html
head
  title Account Settings
h1 Account Settings
|         Username: #{account.username}
br
br
|         Password: #{account.password}
br
br
|         Email: #{account.email}
br
br
|         City: #{account.city}
br
br
|         State: #{account.state}
br
br
a(href='/') Home
br
br
a(href='/editAcc') Edit your Account Settings