doctype html
head
  title
    | Edit Profile
form(method='post')  
  h1 Your Profile
  p To edit your profile change the parts of your profile that you want and leave the parts you don't want to change
  |         Name:
  input(type='text' name='name' value=profile.name)     
  br
  br
  |         Age:
  input(type='text' name='age' value=profile.age) 
  br
  br 
  |         Gender:   #{profile.gender}   
  br
  label(for='gender') Select your Gender
  select#gender(name='gender' selected value=profile.gender)
    option(value=profile.gender selected='selected') #{profile.gender}
    option(value='Male') Male
    option(value='Female') Female
    option(value='Other') Other  
  br
  br
  |         Height:   #{profile.height}   cm  
  br
  .slidecontainer
    input#myRange.slider(type='range' min='100' max='250' value=profile.height name='height')
  |     Height: 
  span#heightS
  br
  br
  |         Race:  #{profile.race}
  br
  label(for='race') Select the race that you most identify as
  select#race(name='race')
    option(value=profile.race selected='selected') #{profile.race}
    option(value='White') White
    option(value='Black/African American') Black/African American
    option(value='Asian') Asian
    option(value='Hispanic') Hispanic
    option(value='Other') Other
  br
  br
  |         Favorite hobby:
  input(type='text' name='hobby' value=profile.hobby)
  br
  br
  |         Income:   #{profile.income} 
  br
  input(type='radio' name='income' value=profile.income checked='checked')
  label(for=profile.income) #{profile.income}
  br
  input#less(type='radio' name='income' value='less than $40,000')
  label(for='less') Less than $40,000 a year
  br
  input(type='radio' id='40,000' name='income' value='$40,000')
  label(for='40,000') Around $40,000 a year
  br
  input(type='radio' id='75,000' name='income' value='$75,000')
  label(for='75,000') Around $75,000 a year
  br
  input(type='radio' id='100,000' name='income' value='$100,000')
  label(for='100,000') Around $100,000 a year
  br
  input(type='radio' id='300,000' name='income' value='$300,000')
  label(for='300,000') Around $300,000 a year
  br
  input#more(type='radio' name='income' value='more than $300,000')
  label(for='more') More than $300,000 a year
  br
  br
  |         Religion:   #{profile.religion}
  br
  label(for='religion') Enter the religion you most align with
  select#religion(name='religion')
    option(value=profile.religion selected='selected') #{profile.religion}
    option(value='Christianity') Christianity
    option(value='Islam') Islam
    option(value='Hinduism') Hinduism
    option(value='Buddhism') Buddhism
    option(value='Other') Other
    option(value='Not religious') Not religious
  br
  br
  input(type='submit' value='Sumbit')
br
br
a(href='/home') Home Page
script.
    var slider = document.getElementById("myRange");
    var output = document.getElementById("heightS");
    output.innerHTML = slider.value;
    slider.oninput = function() {output.innerHTML = this.value;}
      
