doctype html
head
  title
    | Edit User Account
form(method='post')  
  h1 Your Account Setting
  p To edit your account settings change the parts of your accont that you want and leave the parts you don't want to change alone.
  |         User Name:   
  input(type='text' name='uName' value=account.username readonly)
  br
  br
  |         Password:
  input(type='text' name='pWord' value=account.password)   
  br
  br
  |         Email:
  input(type='text' name='email' value=account.email) 
  br
  br 
  |         City:     
  input(type='text' name='city' value=account.city)
  br
  br
  |         State: 
  input(type='text' name='state' value=account.state)  
  br
  br
  input(type='submit' value='Sumbit')
br
br
a(href='/home') Home Page
