doctype html
head
  title Personal Profile
h1 Your Personal Information
|         Name: #{profile.name}
br
br
|         Age: #{profile.age}
br
br
|         Gender: #{profile.gender}
br
br
|         Height: #{profile.height}
br
br
|         Race: #{profile.race}
br
br
|         Income: #{profile.income}
br
br
|         Religion: #{profile.religion}
br
br
a(href='/') Home
br
br
a(href='/editPr') Edit your personal profile